@mixin flex($direction: row) {
  /* #ifndef APP-NVUE */
  display: flex;
  /* #endif */
  flex-direction: $direction;
}

@mixin vue-flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}
