// uview 主题变量
$u-main-color: #303133 !default;
$u-content-color: #606266 !default;
$u-tips-color: #909193 !default;
$u-light-color: #c0c4cc !default;
$u-border-color: #dadbde !default;
$u-bg-color: #f3f4f6 !default;
$u-disabled-color: #c8c9cc !default;

$u-primary: #3c9cff !default;
$u-primary-dark: #398ade !default;
$u-primary-disabled: #9acafc !default;
$u-primary-light: #ecf5ff !default;

$u-warning: #f9ae3d !default;
$u-warning-dark: #f1a532 !default;
$u-warning-disabled: #f9d39b !default;
$u-warning-light: #fdf6ec !default;

$u-success: #5ac725 !default;
$u-success-dark: #53c21d !default;
$u-success-disabled: #a9e08f !default;
$u-success-light: #f5fff0 !default;

$u-error: #f56c6c !default;
$u-error-dark: #e45656 !default;
$u-error-disabled: #f7b2b2 !default;
$u-error-light: #fef0f0 !default;

$u-info: #909399 !default;
$u-info-dark: #767a82 !default;
$u-info-disabled: #c4c6c9 !default;
$u-info-light: #f4f4f5 !default;
