@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("icomoon.eot?qxzjms");
  src:
    url("icomoon.eot?qxzjms#iefix") format("embedded-opentype"),
    url("icomoon.ttf?qxzjms") format("truetype"),
    url("icomoon.woff?qxzjms") format("woff"),
    url("icomoon.svg?qxzjms#icomoon") format("svg");
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: never;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  color: #5a6b8f;
  content: "\e914";
}
.icon-stamp:before {
  color: #f39b98;
  content: "\e90e";
}
.icon-view:before {
  color: #5a6b8f;
  content: "\e915";
}
.icon-Vector:before {
  color: #5a6b8f;
  content: "\e901";
}
.icon-hastixiang .path1:before {
  color: rgb(0, 0, 0);
  content: "\e90f";
}
.icon-hastixiang .path2:before {
  margin-left: -1.5859375em;
  color: rgb(255, 255, 255);
  content: "\e911";
}
.icon-needtixiang .path1:before {
  color: rgb(217, 217, 217);
  content: "\e910";
}
.icon-needtixiang .path2:before {
  margin-left: -2.2861328125em;
  color: rgb(0, 0, 0);
  content: "\e912";
}
.icon-needtixiang .path3:before {
  margin-left: -2.2861328125em;
  color: rgb(255, 255, 255);
  content: "\e913";
}
.icon-house:before {
  color: #8291ab;
  content: "\e900";
}
.icon-font:before {
  content: "\e90d";
}
.icon-showpass:before {
  color: #5a6b8f;
  content: "\e916";
}
.icon-key:before {
  color: #5a6b8f;
  content: "\e90b";
}
.icon-phone:before {
  color: #5a6b8f;
  content: "\e90c";
}
.icon-user:before {
  color: #06f;
  content: "\e902";
}
.icon-map .path1:before {
  color: rgb(0, 102, 255);
  content: "\e903";
}
.icon-map .path2:before {
  margin-left: -1em;
  color: rgb(255, 255, 255);
  content: "\e90a";
}
.icon-pack:before {
  color: #06f;
  content: "\e904";
}
.icon-money:before {
  color: #394973;
  content: "\e905";
}
.icon-search:before {
  color: #5a6b8f;
  content: "\e906";
}
.icon-mark:before {
  color: #8291ab;
  content: "\e907";
}
.icon-location:before {
  color: #06f;
  content: "\e908";
}
.icon-time:before {
  color: #8291ab;
  content: "\e909";
}
